

header {
text-align: center;
font-size: 70px;
margin-bottom: 5px;

}

#competition {
    text-align: left;
    font-size: 20px;
    font-style: bold;
    margin: 10px;

}

p {
    margin: 50px;
    font-size: 20px;
    font-style: normal;  
}



#question {
    border-bottom: 5px;
    padding: 50px;
    
}